@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --main-textc: rgb(166, 166, 166);
  --main-numbersc: rgb(50, 232, 129);
  --main-lightgreen: #c4f1be;
  --main-bgc: #11131a;
  --main-elc: #1e222dfa;
  --main-elc2: #1e222dec;
  --main-bluec: rgba(30, 34, 45, 0.87);
  --seco-grayc: rgb(175, 175, 175);
  --main-reds: rgb(244, 154, 167);
}

@font-face {
  font-family: "Roboto";
  src: url(https://fonts.googleapis.com/css?family=Roboto);
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", sans-serif !important;
  font-weight: 300;
}

#menuitems ul {
  margin-top: 10px;
  padding-left: 0;
  font-size: 16px;
  height: 100%;
}

svg:hover,
td:hover {
  cursor: pointer;
}
#logo {
  cursor: pointer;
}
#logo-img:hover {
  box-shadow: 0px 0px 5px whitesmoke;
}
#logo-img {
  width: 35%;
  border-radius: 15px;
}
#acc-img {
  width: 70%;
}

#content {
  display: flex;
  height: 100vh;
  overflow: hidden;
  color: var(--main-elc2);
  background-color: white;
}

#sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  background-color: var(--main-elc);
  color: rgba(255, 255, 255, 0.854);
  border-right: 2px solid white;
  box-shadow: 0px 0px 3px var(--main-elc);
  overflow-y: scroll;
  width: 150px !important;
  min-width: 150px !important;
  max-width: 150px !important;
}
/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#main {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  margin: 0;
  background-color: var(--main-light-blue);
  width: calc(100% - 150px);
}

#accpic,
#menuitems {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
#logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  margin-top: -2px;
  margin-bottom: 0px;
}
#accpic {
  flex: 5;
  display: flex;
  flex-direction: column;
  color: var(--main-numbersc);
}
#menuitems {
  flex: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  margin: 0;
}
#menuitems li {
  margin-top: 20px;
  list-style-type: none;
}
#menuitems li:hover {
  list-style-type: none;
  font-weight: bold;
  cursor: pointer;
  color: var(--main-numbersc);
}
#menuitems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 3px;
}
#logout {
  flex: 1;
}
#menuitems li .active {
  color: var(--main-numbersc);
}

#header {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
  font-weight: bold;
  background-color: var(--main-elc2);
  border-radius: 5px;
  color: var(--main-elc);
  border: 2px solid white;
  box-shadow: 0px 0px 3px var(--main-elc);
  height: 50px;
}

.nav-tabs .nav-link {
  padding: 10px 15px !important;
  text-decoration: none;
}
.nav-tabs .nav-link:hover {
  color: #23527c;
  background-color: #eee;
}
.nav-tabs .active {
  color: #555;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0 !important;
}
.tab-content {
  flex: 15;
  display: flex;
  flex-direction: column;
  margin: 5px;
  height: 100%;
}
.tab-content input {
  border: 1px solid lightgray;
  border-radius: 3px;
}
.tab-content h5 {
  border-bottom: 1px solid lightgray;
  padding-bottom: 3px;
}
#mainboard {
  display: flex;
  flex-direction: row;
  /* height: 100%; */
  color: var(--main-elc2);
  /* overflow-y: scroll; */
}

#mainboard .f-w-inherit {
  font-weight: inherit !important;
}

#mainboard .f-w-700 {
  font-weight: 700 !important;
}

#mainboard .f-s-inherit {
  font-size: inherit !important;
}

#profile {
  background-color: whitesmoke;
  flex: 1;
  border: 3px solid whitesmoke;
  justify-content: center;
  height: 100%;
  border-radius: 5px;
  margin-right: 10px;
  /* overflow-y: scroll; */
  /* width: 230px; */
  /* min-width: 230px; */
}
#profile-pic {
  flex: 1;
  padding: 20px;
  padding-bottom: 5px;
  max-width: 100%;
}
#profile-deals {
  flex: 1;
}
#profile-balance {
  display: flex;
  flex-direction: row;
  flex: 10;
}
#profile-balance h5 {
  font-size: 14px;
  padding: 3px;
  font-weight: bold;
}
#profile-balance h4 {
  font-size: 12px;
  padding: 3px;
}
#profile-referral-code h5 {
  border: none;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 3px;
}
#profile-referral-code {
  border-top: 1px solid lightgray;
  margin-top: 5px;
  padding: 10px;
}
#board {
  background-color: whitesmoke;
  flex: 4;
  border: 3px solid whitesmoke;
  border-radius: 5px;
  padding: 7px;
  width: calc(100% - 237px);
}
#dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* overflow-y: auto; */
}

#header div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: whitesmoke;
}
#cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex: 5;
  margin: 10px;
  padding-bottom: 10px;
}
#details {
  flex: 10;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.details-item h5 {
  margin: 10px;
  font-size: 17px;
  font-weight: bold;
  color: var(--main-elc2);
}
.card-item {
  background-color: var(--bg-green);
  margin: 10px;
  border-radius: 5px;
  box-shadow: inset 0px 0px 3px rgb(205, 205, 205);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--main-elc2);
}
.card-item h5,
.card-item h6 {
  margin: 10px;
}
.card-item:hover {
  border-radius: 5px;
  box-shadow: inset 0px 0px 10px rgb(230, 230, 230);
  width: 96%;
  font-weight: bold;
}
.details-item {
  margin: 10px;
  border-radius: 3px;
  max-height: 420px;
  overflow-y: auto;
  border: 2px solid white;
  box-shadow: 0px 0px 5px lightgray;
}
#reminders {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid whitesmoke;
}
#reminders h5 {
}
#logout {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
#logout button {
  border: 1px solid whitesmoke;
  border-radius: 5px;
  height: 80%;
  width: 70%;
  margin-bottom: 12px;
}
#logout button:hover {
  box-shadow: 0px 0px 10px var(--main-numbersc);
  border: 2px solid var(--main-numbersc);
  font-weight: bold;
}

.active {
  font-weight: bold;
}
.inactive {
  display: none;
}

/* LEADS TAB */
#leads {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  padding: 10px;
}
/* Updated Modal Styling with Dark Grey Background Opacity */
.modal-style-edit .modal-dialog-centered {
  background-color: transparent;
}
.modal-style-edit .modal-content {
  /* border: 2px solid black; */
  background-color: #333335;
  border-radius: 0;
  padding: 0.2rem !important;
}
.modal-style-edit .btn-close {
  margin-left: auto;
  margin-right: 0.2rem !important;
}
.modal-style-edit .modal-body {
  margin: 0.5rem;
  border: 1px solid black;
}
.modal-style-edit .input-number {
  height: 40px;
  width: 80px;
}
.modal-style-edit .modal-close-btn {
  padding: 0.3rem 3rem;
}
.modal-style-del .modal-close-btn {
  padding: 0.6rem 2rem;
}
.modal-style-del .input-number {
  height: 40px;
  width: 130px;
}

.order-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.order-modal {
  background-color: #605e5e;
  padding: 20px;
  border-radius: 8px;
  max-width: 300px; /* Adjust the maximum width */
  width: 100%;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.9s, transform 0.3s;
}

/* Hide the modal when it's closed */
.order-modal-hidden {
  opacity: 0;
  transform: scale(0.8);
  pointer-events: none;
}
.order-actions {
  display: flex;
}
.online-container {
  /* display: flex; */
}
.status {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
}
#transactions-div {
  width: 98%;
  margin: 10px;
  background-color: whitesmoke;
  border-radius: 5px;
  max-height: 700px;
  overflow-y: auto;
  min-height: 700px;
  overflow-y: auto;
}
#users {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
#users-div {
  width: 98%;
  margin: 10px;
  background-color: whitesmoke;
  border-radius: 5px;
  max-height: 500px;
  overflow-y: auto;
  min-height: 500px;
  overflow-y: auto;
  box-shadow: 0px 0px 1px var(--main-elc2);
  border: 2px solid white;
}
#leads-div {
  background-color: whitesmoke;
  border-radius: 5px;
  height: 55%;
  overflow: auto;
}
#leads-div .show_all button {
  font-size: 14px !important;
  width: 120px !important;
  border: 1px solid lightgray;
}
#lead-transactions {
  background-color: whitesmoke;
  border-radius: 5px;
  height: 40%;
  overflow: auto;
}
#lead-transactions-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}
#lead-transactions-header h2 {
  font-weight: 500;
  color: var(--main-elc2);
  margin-top: 7px;
  margin-left: 10px;
  font-size: 14px;
}
#lead-transactions-header button {
  font-size: 14px;
  font-weight: 500;
  width: 150px;
  border: 1px solid lightgray;
  font-weight: 500;
}

#leads-div table,
#transactions-div table,
#users-div table {
  width: 100%;
  border: 5px solid whitesmoke;
  border-radius: 5px;
  margin-top: 3px;
  max-height: 60vh;
}
.rdt_TableRow,
.rdt_TableHeadRow {
  justify-content: space-between;
}
th,
td {
  font-size: 14px;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left !important;
}

#profile-deals {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
}
#profile-deals h4 {
  font-weight: bold;
  font-size: 14px;
}
#sdelki-numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.25);
  border-top: 1px solid rgba(128, 128, 128, 0.25);
}
#sdelki-numbers div {
  border: 1px dashed rgba(128, 128, 128, 0.735);
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-size: 13px;
}
#sdelki-numbers h5 {
  border: none;
}
#profile-balance {
  display: flex;
  justify-content: space-around;
}
#profile-info-titles1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
#profile-info-inputs1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
#profile-info-titles2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
#profile-info-inputs2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
#profile-info-titles1 button {
  border-radius: 5px;
  width: 110px;
  height: 28px;
}
#profile-info-inputs1 button {
  border-radius: 5px;
  width: 110px;
  height: 28px;
  margin-left: 25px;
}
#profile-i h5 {
  border: none;
}
td.editing {
  background-color: #f3f3f3;
}
#addRowForm {
  border: 1px solid whitesmoke;
  padding: 5px;
}
#new-row-form-inputs1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid whitesmoke;
  border-radius: 3px;
}
#new-row-form-inputs2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  margin-top: 3px;
}
#new-row-form-inputs1 input,
#new-row-form-inputs2 input {
  margin: 5px;
  border: 1px solid whitesmoke;
  font-size: 15px;
  color: var(--main-elc2);
  border-radius: 3px;
}
#new-row-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 15px;
}
#new-row-buttons button {
  margin: 15px;
  padding: 3px;
  border-radius: 5px;
  width: 100px;
}
#new-row-del:hover {
  cursor: pointer;
  font-weight: bold;
}
#new-row-add:hover {
  cursor: pointer;
  font-weight: bold;
}
#transactions-div .dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}
.dropdown #myInput {
  border: 1px solid lightgray;
}
#calendar div {
  max-height: 85vh;
  margin-top: 3px;
}
#editButton,
#saveButton,
#editTransactions,
#saveTransactions {
  border: inset 1px solid var(--main-textc);
}
#editButton:hover,
#saveButton:hover,
#editTransactions:hover,
#saveTransactions:hover {
  box-shadow: 0px 0px 10px var(--main-textc);
  font-weight: bold;
}
#editTransactions,
#saveTransactions {
  width: 100px;
  height: 30px;
  border-radius: 3px;
  margin-top: 5px;
}

/* SIMPLE TOOLTIP RING */
.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.ref-table {
  background-color: whitesmoke;
  box-shadow: 0px 0px 1px var(--main-elc2);
  border: 2px solid whitesmoke;
  border-radius: 5px;
}
#refsTable {
  border: 2px solid white;
}
.refInput {
  background: whitesmoke;
  margin: 0px 3px;
}

#newUser-form {
  background-color: whitesmoke;
  box-shadow: 0px 0px 1px var(--main-elc2);
  border: 2px solid white;
}
#newUser-form button {
  width: 100px;
}

/* CHECK */
.form-check-input:checked {
  background-color: var(--main-lightgreen) !important;
  border-color: var(--main-numbersc) !important;
}
.form-check-input[type="radio"] {
  width: 0.85em !important;
  height: 0.85em !important;
  background-color: unset !important;
}

/* MENU 1 CHECK */
#menu1 .form-check {
  display: flex !important;
  align-items: center;
  gap: 2rem;
}
#menu1 .form-check-label {
  width: 250px;
  text-align: left;
}

/* MENUS */

#menu0,
#menu1,
#menu2,
#menu3,
#menu4,
#menu5 {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#menu0-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
  border-bottom: 1px solid rgba(128, 128, 128, 0.25);
}
#menu0-extra {
  flex: 1;
  margin: 10px;
}
#menu0-extra-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}
#menu0-extra table {
  max-height: 200px;
  overflow-y: auto;
}
/* from herer  */
.menu1-main {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
  padding: 2rem;
  gap: 2.5rem;
}
.menu1-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu1-title h4 {
  font-weight: bold;
}
#menu1 button {
  border-radius: 5px;
  width: 110px;
  height: 28px;
  background-color: var(--main-lightgreen);
}
#menu1 button:hover {
  font-weight: bold;
  box-shadow: 0px 0px 5px var(--main-numbersc);
}
#leadsSearchInput {
  margin: 2px;
}
.hidden {
  display: none;
}
#menu2-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}
#menu3-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 5px;
}
.pb-0 {
  padding-bottom: 0px !important;
}
.transparent-background {
  background: transparent !important;
}
.lead-transactions-header-height {
  height: 35px;
}
.lead-transactions-header-height h2 {
  border: 0px;
  font-weight: bold !important;
}
.rs-calendar-panel
  .rs-calendar-table-cell-is-today
  .rs-calendar-table-cell-day {
  width: 50px !important;
  border-radius: 10px !important;
  color: white !important;
}
.rs-calendar-panel .rs-calendar-table-cell-day {
  color: rgba(74, 85, 104, 1) !important;
}
.rs-calendar-bordered
  .rs-calendar-table-header-row
  .rs-calendar-table-header-cell,
.rs-calendar-bordered
  .rs-calendar-table-row:not(:last-child)
  .rs-calendar-table-cell {
  border: 0.5px solid #e2e8f0;
}

.event-calendar {
  color: rgba(44, 82, 130, 1);
  text-overflow: ellipsis;
  line-height: 1.25px;
  font-size: 10px;
  border: 1px solid #dee2e6;
  background-color: rgba(235, 248, 255, 1);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 5px;
}

.calendar-modal {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 20px;
  z-index: 2;
  width: 340px;
  height: 340px;
  max-height: 85vh;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  color: rgba(45, 55, 72, 1);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0px 20px;
}
.calendar-modal .cross {
  right: -25px !important;
}
.calendar-modal .title {
  border-bottom: 1px solid #edebeb;
  font-weight: 700 !important;
  line-height: 1.1 !important;
  padding-bottom: 5px !important;
}
.calendar-modal .subtitle {
  font-weight: 700 !important;
  font-size: 0.6rem !important;
  line-height: 1.1 !important;
  letter-spacing: 0.025em;
  margin-bottom: 3px;
}
.calendar-modal input {
  width: 100%;
}
.calendar-modal select {
  width: 200px;
}
.subtitle {
  font-weight: 900 !important;
  font-size: 12px !important;
}
.calendar-modal .save {
  background-color: #2d3748 !important;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: bold;
}
.calendar-modal .cancel {
  color: #2d3748 !important;
  background-color: white;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid #e2e8f0;
  margin-right: 20px;
}
#dropdown-basic.dropdown-toggle {
  border: none;
}
.progressbar {
  width: 100px;
}
.custom-dropdown-menu.dropdown-menu.show {
  padding-left: 16px;
}
.active-status.dropdown-item {
  padding: 0px;
}

.onlineRed {
  color: red;
  width: 1.2rem !important;
  height: 1.2rem !important;
}

.onlineGreen {
  color: green;
  width: 1.2rem !important;
  height: 1.2rem !important;
}
td.editing input {
  width: 100%;
}
#transactions-table td,
th {
  width: 45px;
}

.no-spinner-arrows::-webkit-inner-spin-button,
.no-spinner-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.arrowClass {
  -webkit-appearance: none !important; /* Webkit browsers */
  -moz-appearance: textfield !important; /* Firefox */
  appearance: textfield !important; /* Others */
  width: calc(100% - 2ch); /* Adjust width as needed */
}
