:root {
  --main-textc: rgb(166, 166, 166);
  --main-numbersc: rgba(0, 255, 110, 0.952);
  --main-bgc: #11131a;
  --main-elc: #1e222d;
  --main-bluec: rgb(0, 106, 255);
  --seco-grayc: rgb(175, 175, 175);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--main-elc)
  /* box-sizing: border-box; */
}

h2 {
  color: lightgray;
  font-size: 17px;
  margin-top: 1.66%;
  margin-left: 0;
  margin-right: 0;
  font-weight: 500;
  flex: 1;
  text-align: center;
}

h3 {
  color: lightgray;
  margin-top: 5%;
}

h4 {
  color: rgba(0, 255, 110, 0.952);
}

h5 {
  color: var(--seco-grayc)
}

h6 {
  color: var(--seco-grayc)
}

html, body {
  display: flex;
  flex-direction: column;
  height: 500px;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  width: 100%; /* Make body take up the full width of the viewport */
  height: 100vh; /* Make body take up the full height of the viewport */
  border-radius: 5px;
  overflow: hidden;
}

button {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: lightgray;
}

label {
  margin-top: 5%;
  font-weight: 500;
  font-size: 14px;
  color: var(--main-textc);
}

input {
  margin-top: 1%;
  background-color: var(--main-bgc);
  border: 2px solid rgb(24, 24, 36);
  border-radius: 5px;
  height: 24px;
  color: whitesmoke;
  text-align: center;
}

.hidden {
  display: none;
}

#header {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
  border-radius: 5px;
  margin: 0;
  padding: 0;
}

#logo {
  display: flex;
  max-width: 120px;
  border: 2px solid rgb(24, 24, 36); /* Example border style */
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bgc);
  margin-left: 2px;
}

#header-info {
  display: flex;
  flex-direction: row;
  flex: 11;
  background-color: var(--main-bgc);
  border: none;
  margin: 2px;
  margin-left: 4px;
  border-radius: 3px;
}

#balance {
  display: flex;
  flex-direction: row;
  border: 3px solid rgb(24, 24, 36);
  border-radius: 10px;
  margin-right: 35px;
  margin: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(55, 60, 75, 0.5);
  justify-content: space-between;
  width: 100%;
}

.balance-item {
  height: 100%;
  margin: 0;
  padding: 0;
  flex: 1;
  border-right: 2px solid rgb(24, 24, 36);
}

#balance-item-lang {
  flex: 0.5;
}

.balance-nums {
  margin: 0;
  margin-bottom: 2%;
  margin-top: 2%;
  width: 33%;
  font-size: 12px;
  color: rgba(0, 255, 110, 0.952);
}

.balance-title {
  margin: 0;
  margin-top: 3%;
  font-size: 16px;
  color: rgb(166, 166, 166);
}

#lang {
  width: 40px;
  margin: 0;
  margin-top: 10%;
  padding: 5px;
  border-radius: 5px;
}

#lang:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px rgba(3, 82, 253, 0.4);
}

#deposit {
  display: flex;
  flex: 1;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  margin-right: 13px;
  padding: 0;
  background-color: var(--main-bgc);
}

#body {
  background-color: var(--main-elc);
  flex: 10;
  display: flex;
  flex-direction: row;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  width: 100%; /* Make body take up the full width of the viewport */
  height: 100vh; /* Make body take up the full height of the viewport */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#sidebar {
  display: flex;
  flex-direction: column;
  max-width: 120px;
  border: 2px solid rgb(24, 24, 36);
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2px;
  background-color: var(--main-bgc);
}

#side-main-menu {
  flex: 9;
  display: flex;
  flex-direction: column;
  margin: 6px;
  margin-bottom: 10%;
  border-radius: 10px;
  border: 3px solid rgb(24, 24, 36);
  box-shadow: 0px 0px 10px rgba(55, 60, 75, 0.5);
}

#side-out-menu {
  flex: 4;
  display: flex;
  flex-direction: column;
  margin: 6px;
  margin-top: 5%;
  margin-bottom: 7%;
  border-radius: 5px;
  border: 3px solid rgb(24, 24, 36);
  box-shadow: 0px 0px 10px rgba(55, 60, 75, 0.5);
  width: 85%;
}

#side-trade, #side-assets, #side-account {
  flex: 1;
  margin: 0;
  margin-top: 40%;
  margin-bottom: 5%;
  text-align: center;
  width: 100%;
}

ion-icon, button {
  transition: color 0.3s ease;
}

#side-out-extra, #side-logout {
  flex: 1;
  margin: 0;
  margin-top: 25%;
  margin-bottom: 5%;
  text-align: center;
  width: 100%;
}

.side-button {
  border: none;
  border-radius: 3px;
  height: 35%;
  width: 75%;
  color: whitesmoke;
  margin: 0;
}

.side-button:hover, .side-out-button:hover {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 5px var(--main-numbersc);
  width: 86px;
  font-weight: bold;
}

.side-out-button {
  border: none;
  border-radius: 3px;
  height: 50%;
  width: 75%;
  color: whitesmoke;
  margin: 0;
}

#faq {
  height: 100%;
  margin: 10px;
  padding: 50px;
}

#content {
  display: flex;
  flex-direction: column;
  flex: 11;
  border: 2px solid rgb(39, 39, 53);
  border-radius: 5px;
  background-color: var(--main-bgc);
}

#account {
  display: flex;
  flex-direction: row;
  flex: 1;
  border-radius: 5px;
  background-color: var(--main-bgc);
  margin: 10px;
}

#account-profile, #account-info {
  flex: 2;
  background-color: var(--main-elc);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(55, 60, 75, 0.5);
  display: flex;
  flex-direction: column;
}

#acc-img-placeholder {
  flex: 0.5;
  width: 40%;
  margin-top: 8%;
  margin-bottom: 1%;
  cursor: pointer;
}

#acc-profile-main, #acc-info-personal {
  width: 80%;
  border-top: 1px solid var(--main-bgc);
  margin-top: 3%;
  padding-top: 7%;
  margin-bottom: 7%;
}

.acc-profile-main-item, .acc-info-personal-item  {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 7%;
  color: var(--seco-grayc);
}

.acc-info-personal-item input {
  width: 140px;
  margin-top: -1px;
  color: var(--seco-grayc);
}
.acc-info-personal-item {
  font-size: 13px;
}
.acc-info-personal-item h6{
  font-size: 15px;
}

.acc-profile-main-item {
  font-size: 13px;
}
.acc-profile-main-item h6{
  font-size: 15px;
}

#documents-button {
  width: 140px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid rgb(33, 101, 249);
  background-color: var(--main-bluec);
  color: var(--main-numbersc);
}

#account-info {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
}

acc-info-personal h3 {
  flex: 0.5;
}


#acc-info-buttons, #verif-buttons {
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  flex: 1;
  border-top: 1px solid var(--main-bgc);
  margin-bottom: 20px;
}

#acc-edit-button, #acc-save-button {
  flex: 1;
  width: 130px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid rgb(33, 101, 249);
  background-color: var(--main-bluec);
  color: var(--main-numbersc);
}

#account-transactions {
  display: flex;
  flex-direction: column;
  flex: 3;
  background-color: var(--main-elc);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(55, 60, 75, 0.5);
}

#trans-his, #transaction-request {
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

#trans-his {
  flex: 4;
  max-height: 340px;
  background-color: rgb(17, 17, 23);
  border: 1px solid rgb(39, 39, 53);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(17, 17, 23, 0.5);
  width: 88%;
  margin-bottom: 5%;
  overflow: auto;
}

#transactions-his-table {
  max-height: 340px;
  overflow-y: auto; 
  border-collapse: collapse;
  overflow-x: auto;
  width: 100%;
}

#transactions-t-body {
  font-size: 12px;
}

#transaction-request {
  display: flex;
  flex-direction: row;
  flex: 1;
  border-top: 1px solid rgb(24, 24, 36);
}

#deposit-button {
  border: 2px solid rgb(0, 81, 255);
  border-radius: 10px;
  height: 45px;
  width: 150px;
  background-color: var(--main-bluec);
  color: var(--main-numbersc);
  margin-right: 5%;
}

#deposit-button:hover, #documents-button:hover, #withdraw-request-button:hover, #acc-edit-button:hover, #acc-save-button:hover {
  cursor: pointer;
  background-color: var(--main-bluec);
  box-shadow: 0px 4px 8px rgba(3, 82, 253, 0.4);
}

#deposit-button:active, #documents-button:active, #withdraw-request-button:active, #acc-edit-button:active, #acc-save-button:active {
  opacity: 50%;
}

#withdraw-request-button {
  border: 2px solid rgb(0, 81, 255);
  border-radius: 10px;
  height: 45px;
  width: 150px;
  background-color: var(--main-bluec);
  color: var(--main-numbersc);
  margin-left: 5%;
}

#withdraw-amount, #withdraw-card {
  margin: 0;
  padding: 0;
  flex: 1;
  margin-bottom: 2%;
  width: 50%;
}

#trade-div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#trade {
  display: flex;
  flex-direction: row;
  flex: 9;
  margin: 10px;
}

#newOrder {
  display: flex;
  flex-direction: column;
  flex: 1.2;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(55, 60, 75, 0.5);
}

#newOrderData {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 7%;
  height: 100%;
}

#newOrderForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-left: 5%;
  margin-top: 5%;
  height: 88%;
  border-top: 2px solid rgb(17, 17, 23); 
  padding-top: 12px;
}

.newOrderButton {
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 0;
  margin: 0;
  width: 140px;
}

#buyButton {
  border: 5px solid var(--main-numbersc);
  border-radius: 10px;
  background-color: var(--main-numbersc);
  color: whitesmoke;
  margin-top: 6%;
}
#buyButton:hover, #sellButton:hover {
  font-weight: bold;
}

#sellButton {
  border: 5px solid rgb(255, 0, 0);
  border-radius: 10px;
  background-color: rgb(255, 0, 0);
  color: whitesmoke;
  margin-top: 4%;
  margin-bottom: 4%;
}

#buyButton:hover, #sellButton:hover {
  box-shadow: 0px 4px 8px rgba(100, 100, 100, 0.4);
}

#buyButton:active, #sellButton:active {
  opacity: 60%;
}

#chart{
  flex: 3;
  border: 2px solid rgb(39, 39, 53); /* Example border style */
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(55, 60, 75, 0.5);
}

.nav-item {
  color: lightgray;
}
.nav-link active {
  color: var(--main-numbersc);
}

#assets {
  flex: 1.05;
  border: 2px solid rgb(39, 39, 53); /* Example border style */
  border-radius: 5px;
  background-color: var(--main-bgc);
  max-height: 100%; /* Set the maximum height of the container */
  overflow: auto; /* Add a scrolling bar when content overflows */
  box-shadow: 0px 0px 10px rgba(55, 60, 75, 0.5);
}


#history-div {
  flex: 4;
  height: 100%;
  margin: 10px;
  margin-top: 0;
}

#nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  height: 50px;
}

#nav-buttons button {
  color: lightgrey;
  border-radius: 10px;
  border: 1px solid rgb(100, 100, 100);
  height: 40px;
  width: 155px;
  margin: 0;
  padding: 0;
  background-color: var(--main-bgc);
  margin-top: 5px;
  margin-bottom: 0;
  box-shadow: 0px 0px 5px rgb(114, 119, 133);
}

#nav-buttons button:hover {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px var(--main-numbersc);
  font-weight: bold;
}


#newDealButtonMobile {
  display: none;
}

#newDealButton:active {
  color: var(--main-numbersc);
  border: 1px solid var(--main-numbersc);
  font-weight: bold;
  background-color: var(--main-elc);
  box-shadow: 0px 3px 3px var(--main-bgc);
}
#ordersHistoryButton:active {
  color: var(--main-numbersc);
  border: 1px solid var(--main-numbersc);
  font-weight: bold;
  background-color: var(--main-elc);
  box-shadow: 0px 3px 3px var(--main-bgc);
}

#orders {
  flex: 2;
  border: 1px solid rgb(39, 39, 53); /* Example border style */
  border-radius: 1px;
  background-color: var(--main-bgc);
  max-height: 150px; /* Set the maximum height of the container */
  overflow: auto; /* Add a scrolling bar when content overflows */
  position: relative;
  margin-top: 5px;
  height: 100%;
  box-shadow: 0px 0px 10px rgba(55, 60, 75, 0.5);;
}

.container {
  max-width: 2048px;
}

.nav-link {
  color: whitesmoke; /* Set the default text color for inactive tabs */
}

.nav-link.active {
  color: green; /* Set the text color for the active tab */
}

/* Apply some basic styling to the table */
table {
  border-collapse: collapse;
  width: 100%;
  background-color: var(--main-bgc);
  padding: 0;
  margin: 0;
  table-layout: auto;
  font-size: 14px;
}


orders-table {
  max-height: 100%; /* Set the maximum height of the container */
}

.sticky-header {
  position: sticky;
  border: 3px solid rgb(39, 39, 53);
  top: 0;
  background-color: whitesmoke; /* Ensure header remains visible */
  z-index: 100; /* Ensure header is above table rows */
}

th, td {
  border: 1px solid var(--main-elc);  
  padding: 8px;
  text-align: left;
  color: rgb(166, 166, 166);
  background-color: var(--main-bgc);
  margin: 0;
  white-space: nowrap; /* Prevent content from wrapping */
  text-overflow: ellipsis; /* Show ellipsis for hidden content */
}

/* Adjust position of table body to accommodate fixed header */
.table-body {
  margin-top: 40px; /* Adjust this value based on the header height */
}

/* ionic icons */
ion-icon {
  color: lightgray;
  width: 35px;
  height: 35%;
  margin: 0;
  padding: 0;
}

.active {
  /* Change the background color to indicate it's active */
  color: var(--main-numbersc);
  font-weight: bold; /* Optionally, make the text bold for emphasis */
}

/* Style for binance-api-symbols */
/* .dropdown {
  max-height: 180px;
  max-width: 100px;
  overflow-y: auto;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  background-color: rgb(32, 32, 43);
  z-index: 2;
}

.dropdown-option {
  padding: 5px;
  cursor: pointer;
} */

thead {
  position: sticky;
  top: 0;
  background-color: white; /* Set the desired background color */
  z-index: 1;
}
/* MODALs */
 
/* Styles for the modal overlay */
#symbol-modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0); /* Semi-transparent background */
  z-index: 5; /* Ensure it's on top of other content */
  justify-content: center;
  align-items: center;
  border: 0.5px solid gray;
}

/* Styles for the dropdown within the modal */
#symbol-dropdown {
  max-height: 180px;
  max-width: 100px; /* Adjust as needed */
  overflow-y: auto;
  border: none;
  border-radius: 5px;
  padding: 8px;
}


/* CSS for screens smaller than 768px (phones and small tablets) */
@media (max-width: 767px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    display: block;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    overflow: auto;
  }
  ion-icon {
    height: 40%;
  }

  .balance-item {
    margin: 0;
    padding: 0;
  }
  .balance-title {
    margin: 0;
    padding: 0;
    margin-top: 1.45vh;
    font-size: 12px;
  }
  .balance-nums {
    margin: 0;
    padding: 0;
    font-size: 9px;
    width: 80%;
    height: 35%;
  }
  #free-margi {
    display: none;
  }
  #free-margi2 {
    display: block;
  }
  #lang {
    width: 20px;
    margin: 0;
    margin-top: 2.8vh;
  }
  
  #logo {
    flex: 3;
  }

  #header {
    height: 11vh;
    margin-bottom: auto;
  }
  #body {
    display: block;
    height: 88vh;
  }
  #sidebar {
    display: block;
    height: 12vh;
    margin-bottom: auto;
    border-radius: 10px;
    max-width: 100vw;
  }
  #side-main-menu {
    display: flex;
    flex-direction: row;
    height: 88%;
  }
  #side-trade, #side-assets, #side-account {
    margin: 0;
    padding: 1px;
    flex: 1;
    width: auto;
    font-size: 16px;
    margin-top: 2%;
  }
  #side-out-menu { /* make it modal */
    display: none;
  }

  /* hidden buttons mobile */

  #side-button-assets {
    display: none;
  }

  #side-button-assets-mobile {
    display: block;
    margin-left: 15px;
  }

  /* contents */

  #content {
    display: block;
    height: 76vh;
  }
  #trade-div {
    height: 100%;
  }
  #trade {
    margin: 10px;
    padding: 0;
    border: none;
    display: block;
    height: 97%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid rgb(24, 24, 36);
    flex: auto;
  }
  #assets {
    margin: 2%;
    padding: 0;
    height: 22vh;
    border-bottom: 3px solid var(--main-elc);
  }
  #chart {
    margin: 0;
    padding: 0;
    display: block; /* block */
    height: 100%;
    margin-bottom: 3%;
    border: 3px solid var(--main-elc);

  }
  #nav-buttons {
    margin: 1%;
    height: 11vh;
    background-color: var(--main-bgc);
    margin-top: auto;
    border-top: 1px solid var(--main-elc);
    border-bottom: 1px solid var(--main-elc);
    padding-top: 2.8%;
    padding-bottom: 4%;
    border-radius: 10px;
  }

  #nav-buttons button {
    width: 43%;
    height: 70%;
    color: var(--main-numbersc);
    border: 2px solid var(--main-bgc);
    border-radius: 10px;
    font-size: 15px;
    margin-left: 1%;
    margin-top: 2%;
    box-shadow: 0px 0px 10px rgba(55, 60, 75, 0.5);
  }

  #newDealButtonMobile {
    display: inline;
  }

  #newDealButton {
    display: none;
  }

.hidden {
  display: none;
}

  #newOrder {
    margin: 0;
    padding: 0;
    border: none;
    display: none; /* block */
    height: 100%;
  }
  #newOrderData {
    margin: 0;
    padding: 0;
    border: none;
    display: block;
    height: 100%;
    margin-top: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
  }
  #newOrderData h2 {
    display: none;
  }
  #newOrderForm {
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 98%;
    height: 98%;
    margin-top: 1%;
    padding-top: 2.5%;
    margin-left: 1%;
    border: 2px solid var(--main-bgc);
    border-radius: 10px;
  }

  #newOrderForm label {
    display: inline-block;
    width: 40vw; /* Adjust the width as needed */
    text-align: left;
    font-size: 16px;
    margin-left: 2%;
    padding-left: 5px;
    margin-right: 1%;
    border-bottom: 1px solid var(--main-bgc)
  }

  /* Style for inputs */
  #newOrderForm input[type="text"],
  #newOrderForm input[type="number"] {
    display: inline-block;
    width: 46vw; /* Adjust the width as needed */
    text-align: center;
    color: gray;
    font-size: 15px;
    margin-left: 1%;
    margin-right: 2%;
    height: 28px;
  }

  /* Style for buttons */
  .newOrderButton {
    margin-top: 1vh;
  }

  /* Style for Buy button */
  #buyButton, #sellButton {
    margin: 0;
    padding: 0;
    width: 40vw;
    height: 4.5vh;
  }
  #buyButton {
    float: left;
    margin-top: 6%;
  }
  /* Style for Sell button */
  #sellButton {
    float: right;
    margin-top: 6%;
    margin-bottom: 3%;
  }

  #orders {
    margin: 0;
    padding: 0;
    display: none;
  }
  
  /* ACCOUNT MOBILE */
  #account {
    display: block;
    color: var(--seco-grayc);
    font-size: 11px;
    height: 97%;
    justify-content: center;
    align-items: center;
  }
  #account-profile {
    height: 82%;
    justify-content: center;
    align-items: center;
    margin: 1%;
    margin-top: 1.5%;
  }
  #account-mobile-buttons {
    height: 14%;
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    margin-top: 4%;
    margin-bottom: auto;
    border-radius: 10px;
    width: 94%;
    margin-left: 3%;
    box-shadow: 0px 0px 10px rgba(55, 60, 75, 0.5);
  }
  #account-mobile-buttons button {
    height: 50px;
    width: 140px;
    border-radius: 10px;
    border: none;
    background-color: var(--main-bluec);
    color: var(--main-numbersc);
    margin-left: 10px;
    margin-right: 10px;
  }
  #account-img-placeholder {
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
  #account h4 {
    color: lightgray;
    font-size: 17px;
    font-weight: bold;
  }
  .acc-profile-main-item {
    margin: 3%;
  }
  .acc-profile-main-item h6:nth-child(2) {
    color: var(--main-numbersc);
    font-size: 14px;
  }
  #verif-buttons {
    background-color: transparent;
  }
  #documents-button {
    font-size: 16px;
    height: 50px;
  }

  #account-info, #account-transactions {
    display: none;
  }
}