@font-face {
  font-family: "Roboto";
  src: url(https://fonts.googleapis.com/css?family=Roboto);
}

:root {
  --main-textc: rgb(166, 166, 166);
  --main-numbersc: rgba(0, 255, 110, 0.952);
  --main-bgc: #11131a;
  --main-elc: #1e222d;
  --main-elc2: #1e222dec;
  --main-bluec: rgb(0, 106, 255);
  --seco-grayc: rgb(175, 175, 175);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", sans-serif !important;
}

body {
  position: relative;
  height: 100vh;
  background-color: whitesmoke;
}

.login_form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  margin: auto;
  padding: 0 30px 20px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: var(--main-elc2);
  width: 300px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px var(--main-elc2);
}

.logo_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.logo {
  box-sizing: border-box;
  max-width: 180px !important;
  max-height: 180px !important;
}

.fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.email_input,
.psw_input,
.name_input {
  color: var(--seco-grayc);
  box-sizing: border-box;
  margin-top: 20px;
  padding: 0 10px 0;
  width: 100%;
  height: 35px;
  border: 2px solid transparent;
  outline: none;
  background-color: var(--main-bgc);
  border-radius: 2px;
}

.email_input:focus,
.name_input:focus,
.psw_input:focus {
  border-bottom: 2px solid var(--main-numbersc);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition-duration: 0.4s;
}

.name_input::placeholder,
.email_input::placeholder,
.psw_input::placeholder {
  font-family: "Roboto Mono", sans-serif;
  color: var(--main-textc);
  font-weight: 100;
  font-size: 12px;
}

.button {
  margin-top: 25px;
  font-family: "Roboto Mono", sans-serif;
  color: whitesmoke;
  align-self: center;
  width: 80%;
  height: 35px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.1;
  font-weight: 400;
}

.button:hover {
  box-shadow: 0px 0px 7px var(--main-numbersc);
  cursor: pointer;
  font-weight: bold;
}

.button:active {
  opacity: 75%;
}

.login_wrapper {
  display: flex;
  flex-direction: column;
}

.login {
  margin-top: 20px;
  align-self: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--seco-grayc);
}

.login_link {
  border: 1px solid whitesmoke;
  border-radius: 3px;
  margin-top: 5px;
  padding: 5px 20px;
  align-self: center;
  text-decoration: none;
  color: whitesmoke;
  transition: 0.3s ease;
}

.login_link:hover {
  box-shadow: 0px 0px 7px var(--main-numbersc);
  cursor: pointer;
  font-weight: bold;
}

.login_link:active {
  opacity: 75%;
}
#title {
  display: flex;
  justify-content: center;
}
#title h2 {
  font-size: 24px !important;
  line-height: 1.1 !important;
  color: whitesmoke !important;
  font-weight: 400 !important;
  font-family: "Roboto Mono", sans-serif;
  padding-bottom: 5px;
  border-bottom: 1px ridge var(--main-bgc);
}
